/vendor/
/node_modules/
/public/build/
/storage/
/bootstrap/cache/
/docker/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
node_modules/
vendor/
public/build/
storage/
bootstrap/cache/
.env
composer.lock
package-lock.json
